{% extends 'base.html.twig' %}

{% block title %}Votre panier!
{% endblock %}

{% block body %}

	<h1>Votre panier !</h1>

	{% if items | length > 0 %}

		<table class="table">

			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix</th>
					<th>Qty</th>
					<th>Total</th>
					<th></th>
				</tr>

			</thead>

			<tbody>
				{% for item in items %}
					<tr>
						<th>{{ item.product.name }}</th>
						<th>{{ item.product.price | amount('$', '.', ',') }}</th>
						<th>
							<a href="{{ path("cart_add", {'id': item.product.id } )}}? returnToCart=true " class="btn btn-sm btn-primary">
								<i class="fas fa-plus"></i>
							</a>
							{{ item.qty }}
							<a href="{{ path("cart_decrement", {'id': item.product.id } )}} " class="btn btn-sm btn-primary">
								<i class="fas fa-minus"></i>
							</a>

						</th>
						<th>{{ item.total | amount }}</th>
						<th>
							<a href=" {{ path("cart_delete", {'id': item.product.id } )}} " class="btn btn-sm btn-danger">
								<i class="fas fa-trash"></i>
							</a>
						</th>
					</tr>
				{% endfor %}

			</tbody>
			<tfoot>

				<tr>
					<td colspan="3">Total :</td>
					<td colspan="2">
						{{ total | amount }}</td>
				</tr>

			</tfoot>

		</table>

		<hr>
		{# {% if is_granted('ROLE_USER') %} #}
		{% if app.user %}
			<h2>Confirmation de votre commande en remplicant ce formule
			</h2>

			{{ form_start(confirmationForm, {'action': path('purchase_confirm')}) }}

			{{ form_widget(confirmationForm) }}

			<button type="submit" class="btn btn-success">Je confirme !</button>

			{{ form_end(confirmationForm) }}
			{% else %}
			<h2>Vous devez étre connecté pour confirmer votre commande!</h2>
			<a href="{{path('login_security')}}" class="btn btn-success">Connexion</a>
			ou <a href="#">Créez un compte</a>
		{% endif %}
	{% else %}
		<h2>Le panier été vide !</h2>

	{% endif %}


{% endblock %}
