{% extends 'base.html.twig' %}

{% block title %}Votre panier!
{% endblock %}

{% block body %}

	<h1>Votre panier !</h1>

	<table class="table">

		<thead>
			<tr>
				<th>Produit</th>
				<th>Prix</th>
				<th>Qty</th>
				<th>Total</th>
			</tr>

		</thead>

        <tbody>
        {% for item in items %}
           <tr>
            <th>{{ item.product.name }}</th>
            <th>{{ item.product.price }}</th>
            <th>{{ item.qty }}</th>
            <th>{{ item.total }}</th>
           </tr>
        {% endfor %}
        
        </tbody>
        <tfoot>

        <tr>
            <td colspan="3">Total :</td>
            <td> {{ total }}</td>
        </tr>
        
        </tfoot>

	</table>

{% endblock %}
