{% extends "base.html.twig" %}

{% block title %}

	créer un produit

{% endblock %}
{% block body %}
	<h1>Nouveau Produit</h1>
	{# {{ form(formView)}} #}

	{{ form_start(formView)}}
	{{ form_errors(formView)}}
	{# {{ form_widget(formView)}} #}

	<div class="row">
		<div class="col">
			{{ form_row(formView.name)}}

			{{ form_row(formView.price)}}
		</div>
		<div class="col">
			{{ form_row(formView.shortDescription)}}
			{{ form_row(formView.category)}}

		</div>

	</div>


	<button type='submit' class="btn btn-primary">
		<i class="fas fa-save"></i>
		Créer le Produit
	</button>
	{{ form_end(formView)}}


{% endblock %}
